* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-image: url('/images/banner/banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 90vh;
    position: relative;
}

.banner_center_content {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner_center_content h2 {
    color: #151414;
    padding-bottom: 20px;
    text-align: right;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}

.banner_center_content p {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #151414;
}

.primary_btn {
    padding: 16px 20px;
    background: #F15B22;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
}

.banner_center_content .primary_btn {
    right: 20%;
}

.section_title {
    text-align: center;
    margin-top: 130px;
    font-weight: 700;
    font-size: 45px;
}

.paragraph_title {
    width: 691px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #b3b3b3;
    text-align: center;
}

.amount_select {
    display: flex;
    justify-content: center;
}

.amount {
    margin-left: 22px;
}

.amount h3 {
    padding: 44px 25px;
    width: 135px;
    background: #fafafa;
    margin: auto;
    color: #707070;
}

.amount h3:hover {
    background: #ffeeee;
    border: 2px solid #ff5959;
    border-radius: 5px;
}

.other_amount {
    margin-top: 60px;
}

.other_amount p {
    margin-bottom: 10px;
}

.other_amount span {
    display: block;
    margin: auto;
    width: 55%;
    border: 1px solid #dadada;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    padding: 54px 23px;
    margin-left: 24px;
}

.card img {
    margin-bottom: 32px;
}

.card h4 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}

.card p {
    width: 315px;
    color: #707070;
}

.blog {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 83px;
}

.blog_one_left h2 {
    font-weight: 700;
    font-size: 42px;
    width: 492px;
}

.blog_one_left p {
    width: 482px;
    margin: 20px 0;
}

.blog_img img {
    width: 572px;
}

.email_border {
    width: 809px;
    height: 200px;
    margin: auto;
    padding: 76px 190px;
    position: relative;
    background-image: url('/images/watch.png'), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
}

.email_border input {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    border: none;
    background: #d9d9d9;
    border-radius: 5px 0px 0px 5px;
    width: 275px;
    height: 48px;
}

.updates .email_border p {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

footer {
    background: #0b0d17;
    margin-top: 130px;
}

.footer_ending {
    text-align: center;
}

.footer_ending img {
    width: 158px;
    margin-top: 43px;
    margin-bottom: 24px;
}

.footer_ending p {
    color: #d9dbe1;
    padding-bottom: 24px;
}


/* contact styles */

.contact {
    display: flex;
    gap: 400px;
    background: #151414;
    padding: 130px 200px;
    color: #F8F8F8;
}

.contact .section-title {
    text-align: left;
}

.contact input[type="text"],
input[type="email"] {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 60px;
}

.contact a {
    text-decoration: none;
}